<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-adgem-ads"
    version="1.0.0">
    <name>AdGem Ads</name>
    <description></description>
    <license>MIT</license>
    <keywords>adgem, ads, android, ios, plugin</keywords>
    <repo>https://github.com/lreiner/cordova-plugin-adgem-ads.git</repo>
    <issue>https://github.com/lreiner/cordova-plugin-adgem-ads/issues</issue>

    <js-module src="www/adgemads.js" name="AdGemAds">
      <runs/>
      <clobbers target="AdGemAds" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-android" version=">=6.0.0" />
    </engines>

    <platform name="android">
      <framework src="com.adgem:adgem-android:2.2.0" />
      <source-file src="src/android/AdGemAdsPlugin.java" target-dir="src/adgem/ads/" />
      <resource-file src="src/android/adgem_config.xml" target="res/xml/adgem_config.xml" />

      <config-file target="AndroidManifest.xml" mode="merge" parent="/manifest/application">
        <meta-data 
          android:name="com.adgem.Config" 
          android:resource="@xml/adgem_config"/> 
      </config-file>

      <config-file target="AndroidManifest.xml" mode="merge" parent="/*">
        <uses-permission android:name="android.permission.INTERNET" />
      	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
      	<uses-permission android:name="android.permission.BLUETOOTH" />
      </config-file>
   </platform>
</plugin>
