<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-offertoro-ads"
    version="1.0.0">
    <name>OfferToro Ads</name>
    <description></description>
    <license>MIT</license>
    <keywords>offertoro, ads, android, ios, plugin</keywords>
    <repo>https://github.com/lreiner/cordova-plugin-offertoro-ads.git</repo>
    <issue>https://github.com/lreiner/cordova-plugin-offertoro-ads/issues</issue>

    <js-module src="www/offertoroads.js" name="OfferToroAds">
      <runs/>
      <clobbers target="OfferToroAds" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-android" version=">=6.0.0" />
    </engines>

    <platform name="android">
      <resource-file src="src/android/OfferToroSdk-v4.2.2.aar" target="libs/OfferToroSdk-v4.2.2.aar" />
      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
      <framework src="com.android.support:appcompat-v7:+"/>
      <framework src="com.google.android.gms:play-services-ads:9.6.1"/>
      <source-file src="src/android/OfferToroAdsPlugin.java" target-dir="src/offertoro/ads/" />

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="OfferToroAdsPlugin">
            <param name="android-package" value="com.offertoro.cordova.ad.OfferToroAdsPlugin"/>
            <param name="onload" value="true" />
        </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" mode="merge" parent="/*">
        <uses-permission android:name="android.permission.INTERNET" />
      	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
      	<uses-permission android:name="android.permission.BLUETOOTH" />
      </config-file>
   </platform>
</plugin>
